name: Reusable Backend CI

on:
  workflow_call:
    inputs:
      node_version:
        required: false
        type: string
        default: "20"

jobs:
  backend-ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
